/* Üldine akna taust (rakendub .root-ile) */
.root {
    -fx-background-image: url("wood-seamless.jpg");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
    -fx-background-size: auto;
}

/* Käte kastid */
.card-hand {
    -fx-background-image: url("green-cloth2.jpg");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
    -fx-background-size: auto;
    -fx-padding: 12;
    -fx-background-radius: 15px;
    -fx-background-insets: 0;
    -fx-border-color: black;
    -fx-border-width: 3px;
}

/* Nupud */
.nupud {
    -fx-background-color: #93C572;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-insets: 0;
}

/* Skoori silt */
.skoor-silt {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* VBox keskele joondamiseks */
.vbox {
    -fx-padding: 10px 0px;
    -fx-alignment: center;
}

/* Mängija ja diiler silt */
.nime-silt {
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-background-color: #93C572;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-insets: 0;
}

/* Seadete vaate silt */
.seade-silt {
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

/* TilePane overlapping cards */
.tile-pane {
    -fx-hgap: -20;
    -fx-vgap: 0;
}

/* Kaardi drop-shadow efekt */
.tile-pane .stack-pane {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 4, 0, 0, 2);
}

/* Mängu lõpp tulemuste tekst */
.result {
    -fx-font-size: 25px;
    -fx-text-fill: black;
    -fx-background-color: #93C572;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-insets: 0;
}